<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Available Listings</h1>
</div>




<div class="container">
  <div class="row">
      <% @listings.each do |listing| %>
      <div class="card mb-3">
        <%if listing.listing_photos.first != nil %>
          <img class="card-img-top" src="<%= listing.listing_photos.first.image.list %>" alt="Card image cap">
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= link_to listing.name, listing, target: "_blank" %>            <% if listing.verified? %>
            <!-- <td><%= listing.verified %></td> -->
              <td class="text-center"><i class="fa fa-check-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This listing is verified!"></i></td>
            <% else %>
              <td class="text-center"><i class="fa fa-times-circle" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="This listing is not verified!"></i></td>

            <% end %></h4>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text"><strong>Max guests:</strong> <%= listing.max_guests %></p>
          <p class="card-text"><strong>No of bedrooms:</strong> <%= listing.num_of_bedrooms %></p>
          <p class="card-text"><small class="text-muted">Hosted by: <%= listing.user.first_name %></small></p>
        </div>
      </div>
      <% end %>
  </div>

<div class="row">
  <%= paginate @listings %>
</div>

</div>







<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>