<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Num of bedrooms:</strong>
  <%= @listing.num_of_bedrooms %>
</p>

<p>
  <strong>Num of guests:</strong>
  <%= @listing.num_of_guests %>
</p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
