
<div class="cover-banner">
<% if @listing.listing_photos.first != nil %>
  <div class="cover-img" style="background-image: url(<%= @listing.listing_photos.first.image %>)"></div>
<% end %>
</div>

<div>
    <!-- This div is used to indicate the original position of the scrollable fixed div. -->
    <div class="listing-bar text-center" data-spy="affix" data-offset-top="390">
      <div class="row">
        <div class="col col-sm-3">
          <h4>
            Listing Name <br>  <span class="highlight"><%= @listing.name %></span>
          </h4>
        </div>

        <div class="col col-sm-6">


          <h4>
            Hosted by <span class="highlight"><%= link_to @listing.user.full_name, user_path(@listing.user.id)  %><%= image_tag @listing.user.avatar.thumb, class:"img-circle" %>
            </span>
          </h4>
        </div>

        <div class="col col-sm-3">
          <h4>
            Price <br>RM<span class="highlight"><%= @listing.price %></span>/night
          </h4>
        </div>
      </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-offset-3 col-sm-6">
        <p id="notice"><%= notice %></p>

        
          <h5>About this listing</h5>
          <p><%= @listing.description %></p>


        <p>
          <strong>Address:</strong>
          <%= @listing.address %>
        </p>        

        <p>
          <strong>Location:</strong>
          <%= @listing.location %>
        </p>

        <p>
          <strong>Num of bedrooms:</strong>
          <%= @listing.num_of_bedrooms %>
        </p>

        <p>
          <strong>Max number of guests:</strong>
          <%= @listing.max_guests %>
        </p>


        <div class="single-item">
          <% @listing.listing_photos.each do |x| %>
            <div><%= image_tag x.image.carousel %></div>
          <% end %>
        </div>
        
        <% if signed_in? %>            
          <% if (@listing.user.id == current_user.id) || current_user.moderator? || current_user.superadmin? %>
            <%= link_to 'Edit Listing', edit_listing_path(@listing) %> |
          <% end %>
        <% end %>
          <%= link_to 'Back', listings_path %>

          
    </div>
    <div class="col col-sm-3 text-center">
      <br>
      <%= render "bookings/form" %>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-6 col-sm-offset-3">
        <h1>Reviews</h1>
        <p>Bacon ipsum dolor amet turkey capicola leberkas t-bone meatloaf. Strip steak jerky sausage tri-tip doner tenderloin, shoulder swine short ribs. Jerky picanha drumstick tail pork belly meatloaf turkey shankle leberkas tenderloin bacon short loin. Strip steak tenderloin pork corned beef, ribeye shankle hamburger chicken rump tail kielbasa bacon. Pig shank t-bone landjaeger chuck chicken prosciutto, pork belly kielbasa salami. Bresaola venison pig short loin, drumstick pastrami jowl beef ribeye cow fatback tongue.

        Boudin ham cupim kielbasa turkey shankle salami turducken frankfurter chuck jowl alcatra pancetta beef ribs. Turducken chicken picanha, pig shankle alcatra t-bone kevin beef ball tip brisket chuck. Tri-tip cow frankfurter drumstick kevin. Chicken fatback tenderloin, prosciutto ground round ham hock tri-tip bresaola landjaeger brisket chuck picanha pork chop. Salami chicken biltong meatloaf porchetta pork chop. Capicola burgdoggen sirloin biltong bresaola doner tri-tip.</p>
      </div>
    </div>
    
  </div>
</div>