
    <div class="cover-banner">
      <div class="cover-img" style="background-image: url(<%= @listing.listing_photos.first.image %>)"></div>
    </div>

<div class="container-fluid listing-bar text-center">
    <div class="row">
      <div class="col col-sm-3">
        <h1><%= @listing.name %></h1>
      </div>

      <div class="col col-sm-6">
        <h1>
          Hosted by <span class="host"><%= @listing.user.first_name %> <%= @listing.user.last_name %></span>
        </h1>
      </div>

      <div class="col col-sm-3">
        <h1>RM<%= @listing.price %>&nbsp;&nbsp;&nbsp;<span><%= button_tag "Book Now", class:"btn btn-default" %></span></h1>
      </div>
    </div>

    <div class="row">
      <hr class="style1">
    </div>
</div>

  <div class="col col-sm-offset-3 col-sm-6">
      <p id="notice"><%= notice %></p>



      <p>
        <strong>Description:</strong>
        <%= @listing.description %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @listing.address %>
      </p>

      <p>
        <strong>Num of bedrooms:</strong>
        <%= @listing.num_of_bedrooms %>
      </p>

      <p>
        <strong>Max number of guests:</strong>
        <%= @listing.max_guests %>
      </p>

      <div class="single-item">
        <% @listing.listing_photos.each do |x| %>
          <div><%= image_tag x.image.carousel %></div>
        <% end %>
      </div>
                  
      <% if (@listing.user.id == current_user.id) || current_user.moderator? || current_user.superadmin? %>
        <%= link_to 'Edit', edit_listing_path(@listing) %> |
      <% end %>
        <%= link_to 'Back', listings_path %>

        <%= render "bookings/form" %>
  </div>