 
  <%= form_for [@listing, @booking] do |f| %>

    <% if @errors.present? %>
      <div>
        <%= @errors %>
      </div>
      <% end %>

    <div class="row">
      <div class="col col-sm-6 col-sm-offset-3">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, placeholder: 'Start Date', class: 'form-control', id:"datetimepicker3"%>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-6 col-sm-offset-3">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, placeholder: 'End Date', class: 'form-control', id:"datetimepicker4" %>
      </div>
    </div>

    <div class="row">
      <%= f.label :num_of_guests %>
      <%= f.number_field :num_of_guests, min: 1, max: @booking.listing.max_guests %>
    </div>

    <div class="actions">
      <%= f.submit 'Request a Booking', class: 'btn btn-default' %>
    </div>
  <% end %>

<script>
$(document).ready(function(){
    $('#datetimepicker3').datetimepicker({
      useCurrent: false,
        format: 'DD MMM YYYY'
    });
    $('#datetimepicker4').datetimepicker({
        useCurrent: true, //Important! See issue #1075
          format: 'DD MMM YYYY'
    });
    $("#datetimepicker3").on("dp.change", function (e) {
        $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker4").on("dp.change", function (e) {
        $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
    });
});

</script>