<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= current_user.first_name %> <%= current_user.last_name %>
  <%= link_to "Edit", edit_user_path(@user) %>
</p>

<h3>Bookings:</h3>
<table>

		<tr>
			<td>Listing Name</td>
			<td>Start Date</td>
			<td>End Date</td>
			<td>Guests</td>
			<td>Price</td>
		</tr>
	<% @bookings.each do |booking| %>
		<tr>
			<td><%= link_to booking.listing.name, booking.listing %></td>
			<td><%= booking.start_date %></td>
			<td><%= booking.end_date %></td>
			<td><%= booking.num_of_guests %></td>
			<td><%= booking.total_price %></td>
		</tr>
	<% end %>
</table>