<!-- Banner header -->
<div class="main-search-container">
	<div class="main-search-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Find nearby beds</h1>
					<p>Discover top rated establishments and more.</p>
					<%= link_to 'Learn More', listings_path, :class => 'btn btn-default btn-lg' %>
				</div>		
				<!-- beginning of search form -->
				<div id="locationField" class="search">
				  <%= form_tag search_path, method: "get", class: "navbar-form navbar-left" do |f| %>
				    <%= text_field_tag :autocomplete, params[:autocomplete], placeholder:"Look for a Katil", class: "form-control" %>
				    <%= submit_tag 'Search', class: 'btn btn-primary' %>
				    <!-- end of search form -->
				  <% end %>
				  <!-- end of search div -->


				<!-- GEOCOMPELTE TEST -->
				<div id="locationField">
    			<input id="autocomplete" placeholder="Enter your address" type="text"></input>
				</div>
<!-- <table id="address">
    <tr>
        <td class="label">Street address</td>
        <td class="slimField">
            <input class="field" id="street_number"></input>
        </td>
        <td class="wideField" colspan="2">
            <input class="field" id="route"></input>
        </td>
    </tr>
    <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3">
            <input class="field" id="locality"></input>
        </td>
    </tr>
    <tr>
        <td class="label">State</td>
        <td class="slimField">
            <input class="field" id="administrative_area_level_1"></input>
        </td>
        <td class="label">Zip code</td>
        <td class="wideField">
            <input class="field" id="postal_code"></input>
        </td>
    </tr>
    <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3">
            <input class="field" id="country"></input>
        </td>
    </tr>
    <tr>
        <td class="label">Lat</td>
        <td class="slimField">
            <input type="text" class="field" id="latitude"></input>
        </td>
        <td class="label">Long</td>
        <td class="wideField">
            <input type="text" class="field" id="longitude"></input>
        </td>
    </tr>
</table> -->
				</div>	
			</div>
		</div>
	</div>
</div>

<!-- content -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="headline centered margin-top-75">
				Popular Bedrooms <br>
				<span>Browse <i>the most desirable</i> properties</span>
			</h3>
		</div>
	</div>
</div>

<!-- Carousel -->

<div class="carousel-container margin-top-25">
	<div class="container">
		<div class="row">
			<div class="responsive slide carousel">
				<% @listing.shuffle.each do |x| %>
					<%if x.listing_photos.first != nil %>
					<div><a href= "/listings/<%= x.id %>" target="_blank" class="img"><%= image_tag(x.listing_photos.sample.image.list, :class => "carousel-img")%></a>
						<a href= "/listings/<%= x.id %>"><div class="slide-caption"><h5><%= x.name %></h5></div></a><h5 class="price">RM<%= x.price %></h5></div>
					<%end%>
				<% end %>
			</div>
		</div>
	</div>
</div>